version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
      - "dependencies"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "MAINT"
    groups:
       grpc-deps:
          patterns:
            - "google*"
            - "grpc*"
            - "protobuf"
       docs-deps:
          patterns:
            - "*sphinx*"
            - "*jupy*"
            - "ipyvtklink"
            - "myst-parser"
            - "nbconvert"
            - "notebook"
            - "numpydoc"
            - "panel"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "MAINT"
    groups:
       actions:
          patterns:
            - "*"
