version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 5 # Fallback cooldown if no specific rule applies
      semver-major-days: 30 # Cooldown for major version updates
      semver-minor-days: 7 # Cooldown for minor version updates
      semver-patch-days: 3 # Cooldown for patch updates
      exclude:
        - "ansys-api-discovery"
        - "ansys-platform-instancemanagement"
        - "ansys-sphinx-theme"
        - "ansys-tools-common"
        - "ansys-tools-visualization-interface"
    labels:
      - "maintenance"
      - "dependencies"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "build"
    groups:
      grpc-deps:
        patterns:
          - "grpc*"
          - "protobuf"
      docs-deps:
        patterns:
          - "ansys-sphinx-theme*"
          - "ipyvtklink"
          - "jupyter_sphinx"
          - "jupytext"
          - "myst-parser"
          - "nbconvert"
          - "nbsphinx"
          - "notebook"
          - "numpydoc"
          - "sphinx"
          - "sphinx*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7 # semver-* options are not applicable for GitHub Actions
      exclude:
        - "ansys/actions/*"
    labels:
      - "maintenance"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "ci"
    groups:
      actions:
        patterns:
          - "*"
