[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "ansys-geometry-core"
version = "0.4.13"
description = "A python wrapper for Ansys Geometry service"
readme = "README.rst"
requires-python = ">=3.9,<4"
license = { file = "LICENSE" }
authors = [{ name = "ANSYS, Inc.", email = "pyansys.core@ansys.com" }]
maintainers = [{ name = "ANSYS, Inc.", email = "pyansys.core@ansys.com" }]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

dependencies = [
    "ansys-api-geometry==0.3.8",
    "ansys-tools-path>=0.3,<1",
    "beartype>=0.11.0,<1",
    "google-api-python-client>=1.7.11,<3",
    "googleapis-common-protos>=1.52.0,<2",
    "grpcio>=1.35.0,<2",
    "grpcio-health-checking>=1.45.0,<2",
    "numpy>=1.20.3,<2",
    "Pint>=0.18,<1",
    "protobuf>=3.20.2,<5",
    "pyvista>=0.37.0,<1",
    "scipy>=1.7.3,<2",
    "six>=1.16.0,<2",
    "vtk>=9,<10",
]

[project.optional-dependencies]
all = [
    "ansys-platform-instancemanagement>=1.0.3,<2",
    "docker>=6.0.1,<8",
    "pyvista[jupyter]>=0.38.1,<0.42",
]
tests = [
    "ansys-platform-instancemanagement==1.1.2",
    "ansys-tools-path==0.4.1",
    "beartype==0.17.2",
    "docker==7.0.0",
    "google-api-python-client==2.119.0",
    "googleapis-common-protos==1.62.0",
    "grpcio==1.62.0",
    "grpcio-health-checking==1.60.0",
    "numpy==1.26.4",
    "Pint==0.23",
    "protobuf==4.25.1",
    "pytest==8.0.2",
    "pytest-cov==4.1.0",
    "pytest-pyvista==0.1.9",
    "pytest-xvfb==3.0.0",
    "pyvista[jupyter]==0.43.3",
    "requests==2.31.0",
    "scipy==1.12.0",
    "six==1.16.0",
    "vtk==9.3.0",
]
doc = [
    "ansys-sphinx-theme==0.14.0",
    "docker==7.0.0",
    "ipyvtklink==0.2.3",
    "jupyter_sphinx==0.5.3",
    "jupytext==1.16.1",
    "myst-parser==2.0.0",
    "nbconvert==7.16.0",
    "nbsphinx==0.9.3",
    "notebook==7.0.8",
    "numpydoc==1.6.0",
    "panel==1.3.8",
    "pyvista[jupyter]==0.43.3",
    "requests==2.31.0",
    "sphinx==7.2.6",
    "sphinx-autoapi==3.1.a2",
    "sphinx-autodoc-typehints==1.24.0",
    "sphinx-copybutton==0.5.2",
    "sphinx_design==0.5.0",
    "sphinx-jinja==2.0.2",
    "vtk==9.3.0",
]

[project.urls]
Source = "https://github.com/ansys/pyansys-geometry"
Issues = "https://github.com/ansys/pyansys-geometry/issues"
Discussions = "https://github.com/ansys/pyansys-geometry/discussions"
Documentation = "https://geometry.docs.pyansys.com"
Releases = "https://github.com/ansys/pyansys-geometry/releases"

[tool.flit.module]
name = "ansys.geometry.core"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.docformatter]
in-place = true
pre-summary-newline = true
wrap-descriptions = 88
wrap-summaries = 88

[tool.coverage.run]
source = ["ansys.geometry"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra --cov=ansys.geometry --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report term -vv --image_cache_dir tests/integration/image_cache --add_missing_images"
testpaths = ["tests"]
