[build-system]
requires = ["poetry-core>=1.0.0,<1.3.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
# Check https://python-poetry.org/docs/pyproject/ for all available sections
name = "ansys-geometry-core"
version = "0.2.dev0"
description = "A python wrapper for Ansys Geometry Service"
license = "MIT"
authors = ["ANSYS, Inc. <ansys.support@ansys.com>"]
maintainers = ["PyAnsys developers <pyansys.maintainers@ansys.com>"]
readme = "README.rst"
repository = "https://github.com/pyansys/pygeometry"
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
packages = [
    { include = "ansys", from = "src" },
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
ansys-api-geometry = "==0.1.1"
beartype = ">=0.11.0"
google-api-python-client = ">=1.7.11"
googleapis-common-protos = ">=1.52.0"
grpcio = ">=1.35.0"
grpcio-health-checking = ">=1.45.0"
importlib-metadata = {version = "^4.0", python = "<3.8"}
numpy = ">=1.20.3"
Pint = ">=0.18"
protobuf = "~=3.20.2"
pyvista = ">=0.36.1"
scipy = ">=1.7.3"
six = ">=1.16.0"

# Testing dependencies
ansys-platform-instancemanagement = {version = "~=1.0", optional = true}
pytest = {version = "==7.1.3", optional = true}
pytest-cov = {version = "==3.0.0", optional = true}

# Documentation dependencies
ansys-sphinx-theme = {version = "==0.7.0", optional = true}
jupytext = {version = ">=1.14.1", optional = true}
myst-parser = {version = ">=0.18.0", optional = true}
nbsphinx = {version = "*", optional = true}
nbconvert = {version = "*", optional = true}
notebook = {version = "*", optional = true}
numpydoc = {version = "==1.4.0", optional = true}
Sphinx = {version = "==5.1.1", optional = true}
sphinx-autoapi = {version = "==1.9.0", optional = true}
sphinx-copybutton = {version = "==0.5", optional = true}
sphinx-gallery = {version = "==0.7.0", optional = true}
ipyvtklink = {version = "*", optional = true}
panel = {version = "*", optional = true}
jupyter_sphinx= {version = "0.4.0", optional = true}
sphinx-autodoc-typehints = {version = "==1.19.4", optional = true}
sphinx_design= {version = "==0.3.0", optional = true}

[tool.poetry.dev-dependencies]
numpy = {version = "==1.23.2", python = ">3.8"}
Pint = {version = "==0.19.2", python = ">3.8"}

[tool.poetry.extras]
test = ["ansys-platform-instancemanagement","pytest","pytest-cov"]
docs = [
    "ansys-sphinx-theme",
    "jupytext",
    "myst-parser",
    "nbsphinx",
    "nbconvert",
    "notebook",
    "numpydoc",
    "Sphinx",
    "sphinx-autoapi",
    "sphinx-copybutton",
    "sphinx-gallery",
    "ipyvtklink",
    "panel",
    "jupyter_sphinx",
    "sphinx-autodoc-typehints",
    "sphinx_design"
]

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys.geometry"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra --cov=ansys.geometry --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report term -vv"
testpaths = [
    "tests",
]
