Launch the Geometry service
---------------------------

There are methods for launching the Geometry service:

* You can use the PyAnsys Geometry launcher.
* You can manually launch the Geometry service.

Environment variables
^^^^^^^^^^^^^^^^^^^^^

The Geometry service requires this mandatory environment variable for its use:

* ``LICENSE_SERVER``: License server (IP address or DNS) that the Geometry service is to
  connect to. For example, ``127.0.0.1``.

You can also specify other optional environment variables:

* ``LOG_LEVEL``: Sets the Geometry service logging level. The default is ``2``, in which case
  the logging level is ``WARNING``.

Here are some terms to keep in mind:

* **host**: Machine that hosts the Geometry service. It is typically on ``localhost``, but if
  you are deploying the service on a remote machine, you must pass in this host machine's
  IP address when connecting. By default, PyAnsys Geometry assumes it is on ``localhost``.

* **port**: Port that exposes the Geometry service on the host machine. Its
  value is assumed to be ``50051``, but users can deploy the service on preferred ports.

Prior to using the PyAnsys Geometry launcher to launch the Geometry service, you must define
general environment variables required for your OS. You do not need to define these
environment variables prior to manually launching the Geometry service.

.. tab-set::

    .. tab-item:: Using PyAnsys Geometry launcher
       :sync: geometry

       Define the following general environment variables prior to using the PyAnsys Geometry
       launcher. Click the tab for your OS to see the appropriate commands.

       .. tab-set::

           .. tab-item:: Linux/Mac

               .. code-block:: bash

                   export ANSRV_GEO_LICENSE_SERVER=127.0.0.1
                   export ANSRV_GEO_ENABLE_TRACE=0
                   export ANSRV_GEO_LOG_LEVEL=2
                   export ANSRV_GEO_HOST=127.0.0.1
                   export ANSRV_GEO_PORT=50051

           .. tab-item:: Powershell

               .. code-block:: pwsh

                   $env:ANSRV_GEO_LICENSE_SERVER="127.0.0.1"
                   $env:ANSRV_GEO_ENABLE_TRACE=0
                   $env:ANSRV_GEO_LOG_LEVEL=2
                   $env:ANSRV_GEO_HOST="127.0.0.1"
                   $env:ANSRV_GEO_PORT=50051

           .. tab-item:: Windows CMD

               .. code-block:: bash

                   SET ANSRV_GEO_LICENSE_SERVER=127.0.0.1
                   SET ANSRV_GEO_ENABLE_TRACE=0
                   SET ANSRV_GEO_LOG_LEVEL=2
                   SET ANSRV_GEO_HOST=127.0.0.1
                   SET ANSRV_GEO_PORT=50051

       {% if add_windows_warnings %}
       .. warning::

           When running a Windows Docker container, certain high-value ports might be restricted
           from its use. This means that the port exposed by the container has to be set
           to lower values. You should change the value of ``ANSRV_GEO_PORT``
           to use a port such as ``700``, instead of ``50051``.

       {% endif %}
    .. tab-item:: Manual launch
       :sync: manual

       You do not need to define general environment variables prior to manually launching
       the Geometry service. They are directly passed to the Docker container itself.


Geometry service launcher
^^^^^^^^^^^^^^^^^^^^^^^^^

As mentioned earlier, you can launch the Geometry service locally in two different ways.
To see the commands for each method, click the following tabs.

.. tab-set::

    .. tab-item:: Using PyAnsys Geometry launcher
       :sync: geometry

       This method directly launches the Geometry service and
       provides a ``Modeler`` object.

       .. code:: python

          from ansys.geometry.core.connection import launch_modeler

          modeler = launch_modeler()

       The ``launch_modeler()`` method launches the Geometry service under the default
       conditions. For more configurability, use the ``launch_docker_modeler()`` method.

    .. tab-item:: Manual launch
       :sync: manual

       This method requires that you manually launch the Geometry service. Remember to pass
       in the different environment variables that are needed. Afterwards, see the next section
       to understand how to connect to this service instance from PyAnsys Geometry.

       .. tab-set::

           .. tab-item:: Linux/Mac

               .. code-block:: bash

                   docker run \
                       --name ans_geo \
                       -e LICENSE_SERVER=<LICENSE_SERVER> \
                       -p 50051:50051 \
                       ghcr.io/ansys/geometry:<TAG>

           .. tab-item:: Powershell

               .. code-block:: pwsh

                   docker run `
                       --name ans_geo `
                       -e LICENSE_SERVER=<LICENSE_SERVER> `
                       -p 50051:50051 `
                       ghcr.io/ansys/geometry:<TAG>

           .. tab-item:: Windows CMD

               .. code-block:: bash

                   docker run ^
                       --name ans_geo ^
                       -e LICENSE_SERVER=<LICENSE_SERVER> ^
                       -p 50051:50051 ^
                       ghcr.io/ansys/geometry:<TAG>

       {% if add_windows_warnings %}
       .. warning::

           When running a Windows Docker container, certain high-value ports might be restricted
           from its use. This means that the port exposed by the container has to be set
           to lower values. You should change the value of ``-p 50051:50051``
           to use a port such as ``-p 700:50051``.

       {% endif %}

Connect to the Geometry service
-------------------------------

After the Geometry service is launched, connect to it with these commands:

.. code:: python

   from ansys.geometry.core import Modeler

   modeler = Modeler()

By default, the ``Modeler`` instance connects to ``127.0.0.1`` (``"localhost"``) on
port ``50051``. You can change this by modifying the ``host`` and ``port``
parameters of the ``Modeler`` object, but note that you must also modify
your ``docker run`` command by changing the ``<HOST-PORT>-50051`` argument.

The following tabs show the commands that set the environment variables and ``Modeler``
function.

{% if add_windows_warnings %}
.. warning::

    When running a Windows Docker container, certain high-value ports might be restricted
    from its use. This means that the port exposed by the container has to be set
    to lower values. You should change the value of ``ANSRV_GEO_PORT``
    to use a port such as ``700``, instead of ``50051``.

{% endif %}
.. tab-set::

    .. tab-item:: Environment variables

        .. tab-set::

            .. tab-item:: Linux/Mac

                .. code-block:: bash

                    export ANSRV_GEO_HOST=127.0.0.1
                    export ANSRV_GEO_PORT=50051

            .. tab-item:: Powershell

                .. code-block:: pwsh

                    $env:ANSRV_GEO_HOST="127.0.0.1"
                    $env:ANSRV_GEO_PORT=50051

            .. tab-item:: Windows CMD

                .. code-block:: bash

                    SET ANSRV_GEO_HOST=127.0.0.1
                    SET ANSRV_GEO_PORT=50051

    .. tab-item:: Modeler function

        .. code-block:: pycon

            >>> from ansys.geometry.core import Modeler
            >>> modeler = Modeler(host="127.0.0.1", port=50051)
