name: Docker images - Cleanup
on:
  workflow_dispatch:
  schedule: # UTC at 0200
    - cron: "0 2 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {} # Disable default permissions

jobs:
  cleanup:
    name: Cleaning unnecessary packages
    runs-on: ubuntu-latest
    env:
      PACKAGE_DELETION_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write # Required to delete packages
      packages: write # Required to delete packages
    steps:

      - name: "Perform versions cleanup - except certain tags"
        # TODO: Once the usage of regex in tags-kept is supported in a released
        # version, change 'main' to the latest released version
        uses: ansys/actions/hk-package-clean-except@main  # zizmor: ignore-line
        with:
          package-name: 'geometry'
          token: ${{ secrets.GITHUB_TOKEN }}
          tags-kept: '^core-windows-\d+\.\d+(\.\d+)?$, ^core-linux-\d+\.\d+(\.\d+)?$, ^windows-\d+\.\d+$,
            ^\d+\.\d+$, ^.*-latest$, ^.*-latest-unstable$, simba-plugin-geometry'
