name: Upload Linux latest to Ansys Lab

on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: read # Needs access to the Geometry docker image

env:
  LINUX_STABLE_GHCR: ghcr.io/ansys/geometry:core-linux-latest
  LINUX_STABLE_FUJI: azwepsifujiaksacr.azurecr.io/ansys/discovery/geometry:linux-latest

jobs:
  linux-ansyslab:
    name: Publish Linux latest image on AnsysLab
    runs-on:
      group: ansys-network
      labels: [Linux, pygeometry]
    steps:
      - name: Login in Github Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Linux latest stable container
        run: docker pull ${LINUX_STABLE_GHCR}

      - name: Login in AnsysLab registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: azwepsifujiaksacr.azurecr.io
          username: ${{ secrets.FUJI_USER }}
          password: ${{ secrets.FUJI_TOKEN }}

      - name: Tag container as latest (stable) for AnsysLab registry
        run: docker tag ${LINUX_STABLE_GHCR} ${LINUX_STABLE_FUJI}

      - name: Publish latest stable container in AnsysLab registry
        run: docker push ${LINUX_STABLE_FUJI}

      - name: Remove images (free space)
        run: docker image rm ${LINUX_STABLE_FUJI} ${LINUX_STABLE_GHCR}
