name: Docker images - Cleanup
on:
  workflow_dispatch:
  schedule: # UTC at 0200
    - cron: "0 2 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {} # Disable default permissions

jobs:
  cleanup:
    name: Cleaning unnecessary packages
    runs-on: ubuntu-latest
    env:
      PACKAGE_DELETION_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      packages: write
    steps:

      - name: "Perform versions cleanup - except certain tags"
        uses: ansys/actions/hk-package-clean-except@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v10.2.0
        with:
          package-name: 'geometry'
          token: ${{ secrets.GITHUB_TOKEN }}
          tags-kept: 'windows-latest, windows-latest-unstable, core-windows-latest, core-windows-latest-unstable, core-linux-latest,
            core-linux-latest-unstable, 24.1, 24.2, 25.1, windows-24.1, windows-24.2, windows-25.1, windows-25.2, core-windows-25.2,
            core-linux-25.2, simba-plugin-geometry'
