name: Upload Windows latest to Ansys Lab (DMS)

on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: read # Needs access to the Geometry docker image

env:
  WINDOWS_STABLE_GHCR: ghcr.io/ansys/geometry:core-windows-latest
  WINDOWS_STABLE_FUJI: azwepsifujiaksacr.azurecr.io/ansys/discovery/geometry:core-windows-latest

jobs:
  windows-ansyslab:
    name: Publish Windows latest image on AnsysLab
    runs-on:
      group: ansys-network
      labels: [Windows, pygeometry]
    steps:
      - name: Login in Github Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Windows latest unstable container
        run: docker pull $env:WINDOWS_STABLE_GHCR

      - name: Login in AnsysLab registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: azwepsifujiaksacr.azurecr.io
          username: ${{ secrets.FUJI_USER }}
          password: ${{ secrets.FUJI_TOKEN }}

      - name: Tag container as latest (stable) for AnsysLab registry
        run: docker tag $env:WINDOWS_STABLE_GHCR $env:WINDOWS_STABLE_FUJI

      - name: Publish latest stable container in AnsysLab registry
        run: docker push $env:WINDOWS_STABLE_FUJI
