name: Nightly Server test - Latest build
on:
  workflow_dispatch:
  schedule: # UTC at 0300
    - cron: "0 3 * * *"

env:
  MAIN_PYTHON_VERSION: '3.10'
  ANSRV_GEO_IMAGE_WINDOWS_TAG: ghcr.io/pyansys/geometry:windows-latest-unstable
  ANSRV_GEO_IMAGE_LINUX_TAG: ghcr.io/pyansys/geometry:linux-latest-unstable
  ANSRV_GEO_PORT: 710
  ANSRV_GEO_LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
  GEO_CONT_NAME: ans_geo_nightly

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  windows-tests:
    name: Nightly unstable testing - Windows
    runs-on: [self-hosted, pygeometry]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9' # use python3.9, self-hosted has an issue with 3.10
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Set up headless display
        uses: pyvista/setup-headless-display-action@v1

      - name: Create Python venv
        run: |
          python -m venv .venv
          .\.venv\Scripts\Activate.ps1

      - name: Install packages for testing
        run: |
          .\.venv\Scripts\Activate.ps1
          pip install --upgrade build
          pip install .[tests]

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if update available
        id: check
        uses: lucacome/docker-image-update-checker@v1.2.1
        with:
          base-image: $env:ANSRV_GEO_IMAGE_WINDOWS_TAG
          image: $env:ANSRV_GEO_IMAGE_WINDOWS_TAG

      - name: Download Geometry service container (if needed)
        if: steps.check.outputs.needs-updating == 'true'
        run: |
          docker image rm $env:ANSRV_GEO_IMAGE_WINDOWS_TAG
          docker pull $env:ANSRV_GEO_IMAGE_WINDOWS_TAG

      - name: Start Geometry service and verify start
        run: |
          .\.venv\Scripts\Activate.ps1
          $env:ANSRV_GEO_PORT_MAP = $env:ANSRV_GEO_PORT + ":50051"
          docker run --detach --name $env:GEO_CONT_NAME -e LICENSE_SERVER=$env:ANSRV_GEO_LICENSE_SERVER -p $env:ANSRV_GEO_PORT_MAP $env:ANSRV_GEO_IMAGE_WINDOWS_TAG
          python -c "from ansys.geometry.core.connection.validate import validate; validate()"

      - name: Run PyGeometry tests
        run: |
          .\.venv\Scripts\Activate.ps1
          pytest -v

      - name: Stop the Geometry service
        if: always()
        run: |
          docker stop $env:GEO_CONT_NAME
          docker logs $env:GEO_CONT_NAME
          docker rm $env:GEO_CONT_NAME

      - name: Clean all Docker dangling images
        if: always()
        run: docker image prune -f

  linux-tests:
    name: Nightly unstable testing - Linux
    runs-on: ubuntu-latest

    steps:
      - name: Login in Github Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull and launch geometry service
        run: |
          docker pull ${{ env.ANSRV_GEO_IMAGE_LINUX_TAG }}
          docker run --detach --name ${{ env.GEO_CONT_NAME }} -e LICENSE_SERVER=${{ env.ANSRV_GEO_LICENSE_SERVER }} -p ${{ env.ANSRV_GEO_PORT }}:50051 ${{ env.ANSRV_GEO_IMAGE_LINUX_TAG }}

      - name: Run pytest
        uses: pyansys/actions/tests-pytest@v3
        env:
          ALLOW_PLOTTING: true
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          pytest-extra-args: "--service-os=linux"
          requires-xvfb: true

      - name: Stop the Geometry service
        if: always()
        run: |
          docker stop ${{ env.GEO_CONT_NAME }}
          docker logs ${{ env.GEO_CONT_NAME }}
          docker rm ${{ env.GEO_CONT_NAME }}
