name: v1 Protos Testing
on:
  workflow_dispatch:

env:
  MAIN_PYTHON_VERSION: '3.13'
  ANSRV_GEO_IMAGE: 'ghcr.io/ansys/geometry'
  ANSRV_GEO_PORT: 700
  ANSRV_GEO_LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
  GEO_CONT_NAME: ans_geo
  RESET_IMAGE_CACHE: 0
  IS_WORKFLOW_RUNNING: true

permissions:
  contents: read
  packages: read # Needs access to the Geometry docker image

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  testing-windows-v1:
    name: Testing and coverage (Windows - v1 Protos)
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.13']

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up headless display
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19 # v4.2

      - name: Install packages for testing
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade build wheel
          pip install -e . --group tests

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Geometry service container (if needed)
        env:
          FULL_IMAGE_NAME: "${{ env.ANSRV_GEO_IMAGE }}:core-windows-latest"
        run: |
          Write-Host "Pulling Docker image: $env:FULL_IMAGE_NAME"
          docker pull $env:FULL_IMAGE_NAME

      - name: Start Geometry service and verify start
        env:
          FULL_IMAGE_NAME: "${{ env.ANSRV_GEO_IMAGE }}:core-windows-latest"
          PORT_MAPPING: "${{ env.ANSRV_GEO_PORT }}:50051"
          TRANSPORT_MODE_SELECTION: ${{ secrets.TRANSPORT_MODE_SELECTION }}
        run: |
          # Write command to file launch.txt for sanitizing purposes
          echo "docker run --detach --name $env:GEO_CONT_NAME -e LICENSE_SERVER=$env:ANSRV_GEO_LICENSE_SERVER -p $env:PORT_MAPPING $env:FULL_IMAGE_NAME $env:TRANSPORT_MODE_SELECTION" | Out-File -FilePath launch.txt
          # Read the file and execute the command
          $command = Get-Content -Path launch.txt | Select-String -Pattern "docker run"
          Invoke-Expression $command.Line
          Start-Sleep -Seconds 10
          python -c "from ansys.geometry.core.connection.validate import validate; validate()"

      - name: Restore images cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .\tests\integration\image_cache
          key: pyvista-image-cache-${{ runner.os }}-v-${{ env.RESET_IMAGE_CACHE }}-${{ hashFiles('pyproject.toml') }}
          restore-keys: pyvista-image-cache-${{ runner.os }}-v-${{ env.RESET_IMAGE_CACHE }}
          lookup-only: true

      - name: Testing
        timeout-minutes: 20 # Sometimes hangs...
        run: |
          pytest -v --proto-version=v1

      - name: Upload integration test logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: v1-windows-integration-test-logs-${{ matrix.python-version }}
          path: tests/integration/logs/integration_tests_logs.txt
          retention-days: 7

      - name: Stop the Geometry service
        if: always()
        run: |
          docker stop $env:GEO_CONT_NAME
          docker logs $env:GEO_CONT_NAME
          docker rm $env:GEO_CONT_NAME

  testing-linux-v1:
    name: Testing and coverage (Linux - v1 Protos)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.13']

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up headless display
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19 # v4.2

      - name: Install packages for testing
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade build wheel
          pip install -e . --group tests

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Geometry service container (if needed)
        env:
          FULL_IMAGE_NAME: "${{ env.ANSRV_GEO_IMAGE }}:core-linux-latest"
        run: |
          echo "Pulling Docker image: ${FULL_IMAGE_NAME}"
          docker pull ${FULL_IMAGE_NAME}

      - name: Start Geometry service and verify start
        env:
          FULL_IMAGE_NAME: "${{ env.ANSRV_GEO_IMAGE }}:core-linux-latest"
          TRANSPORT_MODE_SELECTION: ${{ secrets.TRANSPORT_MODE_SELECTION }}
        run: |
          docker run --detach --name ${GEO_CONT_NAME} -e LICENSE_SERVER=${ANSRV_GEO_LICENSE_SERVER} -p ${ANSRV_GEO_PORT}:50051 ${FULL_IMAGE_NAME} ${TRANSPORT_MODE_SELECTION}
          python -c "from ansys.geometry.core.connection.validate import validate; validate()"

      - name: Restore images cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: tests/integration/image_cache
          key: pyvista-image-cache-${{ runner.os }}-v-${{ env.RESET_IMAGE_CACHE }}-${{ hashFiles('pyproject.toml') }}
          restore-keys: pyvista-image-cache-${{ runner.os }}-v-${{ env.RESET_IMAGE_CACHE }}
          lookup-only: true

      - name: Testing
        timeout-minutes: 20 # Sometimes hangs...
        run: |
          pytest -v --proto-version=v1

      - name: Upload integration test logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: v1-linux-integration-test-logs-${{ matrix.python-version }}
          path: tests/integration/logs/integration_tests_logs.txt
          retention-days: 7

      - name: Stop the Geometry service
        if: always()
        run: |
          docker stop ${GEO_CONT_NAME}
          docker logs ${GEO_CONT_NAME}
          docker rm ${GEO_CONT_NAME}
